# Project configuration
PROJECT_NAME=Girish_Application

# API configuration
API_PREFIX=
API_VERSION=v1

# Database configuration
DATABASE_DRIVER=
DATABASE_USERNAME=
DATABASE_PASSWORD_HASH=
DATABASE_HOST=
DATABASE_DB_NAME=sample_restaurants
DATABASE_ADDITIONAL_STRING=?retryWrites=true&w=majority
MAX_CONNECTIONS_COUNT=10
MIN_CONNECTIONS_COUNT=10

