asgiref==3.4.1
asyncio==3.4.3
click==8.0.1
fastapi==0.68.0
h11==0.12.0
kazoo==2.5.0
loguru==0.5.3
pydantic==1.8.2
pykafka==2.8.0
six==1.16.0
starlette==0.14.2
tabulate==0.8.9
typing-extensions==3.10.0.0
uvicorn==0.15.0
